# Ignore appsettings.Development.json
appsettings.Development.json

# Ignore appsettings.json
appsettings.json

# Ignore DbEstacionamientoContext.cs
Models/DbEstacionamientoContext.cs

# Ignore appsetting.Development.json
bin/Debug/net7.0/appsettings.Development.json

# Ignore appsettings.json
bin/Debug/net7.0/appsettings.json