# Ignore appsettings.Development.json
backEnd/appsettings.Development.json

# Ignore appsettings.json
backEnd/appsettings.json

# Ignore DbEstacionamientoContext.cs
backEnd/Models/DbEstacionamientoContext.cs

# Ignore appsetting.Development.json
backEnd/bin/Debug/net7.0/appsettings.Development.json

# Ignore appsettings.json
backEnd/bin/Debug/net7.0/appsettings.json