<div class="container">
    <div class="row">
        <div class="col-md-3 mb-4">
            <h4 class="text-secondary display-5 ps-3"><i class="bi bi-house-fill text-secondary fs-1"></i> Inicio</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3 me-3">
            <div class="card border border-0 shadow tarjeta pb-2">
                <div class="card-body">
                    <h3 class="text-center fs-1 text-muted fw-bolder"><i class="bi bi-box"> Parking</i></h3>
                    <hr>
                    <p class="card-text fs-2 text-muted text-center">🟢{{available.available}} Disponibles </p>
                    <p class="card-text fs-2 text-muted text-center">🔴{{available.busy}} Ocupados </p>
                    <hr>
                    <button type="button" class="btn btn-success boton mt-2" (click)="goToCars()"> <i class="bi bi-plus-square-fill"> Nuevo vehiculo</i></button>
                </div>
            </div>  
        </div>
        <div class="col-md-3 me-4">
            <div class="card tarjeta border border-0 shadow align-items-center">
                <div class="card-title text-center mt-4 mb-4 me-4 ms-4">
                    <h5 class="text-muted fw-bolder fs-2"> <i>💲</i>Tarifa x hora</h5>
                    <hr>
                    <p class="card-text fs-5 text-muted">Camioneta {{priceVan.priceName | currency}}</p>
                    <p class="card-text fs-5 text-muted">Automovil {{priceCar.priceName | currency}}</p>
                    <p class="card-text fs-5 text-muted">Motocicleta {{priceMotorcycle.priceName | currency}}</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 card tarjeta border border-0 shadow mt-3">
                <button class="btn fs-2 text-muted" (click)="goToSupport()"><i class="bi bi-gear-wide-connected"></i> Soporte</button>
            </div>
        </div>
    </div>
</div>