<div class="container">
    <div class="row">
        <div class="col-md-3 mb-4">
            <h4 class="text-secondary display-5 ps-3"><i class="bi bi-house-fill text-secondary fs-1"></i> Inicio</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card border border-0 shadow tarjeta align-items-center" style="width: 18rem; height: 18rem;">
                <div class="card-body mt-4">
                    <p class="card-text fs-3 text-muted">🟢{{available.available}} Disponibles </p>
                    <p class="card-text fs-3 text-muted">🔴{{available.busy}} Ocupados </p>
                    <hr>
                    <button type="button" class="btn btn-success boton" (click)="goToCars()"> <i class="bi bi-plus-square-fill"> Nuevo vehiculo</i></button>
                </div>
            </div>  
        </div>
        <div class="col-md-3">
            <div class="card tarjeta border border-0 shadow align-items-center" style="width: 18rem; height: 10rem">
                <div class="card-title text-center mt-4 pt-2">
                    <h5 class="text-muted fw-bolder fs-3"> <i>💲</i>Tarifa x Hora</h5>
                    <p class="card-text fs-3 text-muted">{{price.priceName | currency}}</p>
                </div>
            </div>
            <button class="card btn btn-light border border-0 mt-4 fs-1 text-secondary shadow tarjeta" style="width: 18rem;" (click)="goToSupport()">
                <i class="bi bi-gear"> Soporte</i> 
            </button>
        </div>
    </div>
</div>